.search-bar {
  width: 35vw;
  height: 5.5vh;
  border-width: 3.5px;
  border-color: black;
  border-radius: 10px;
  margin-top: 30px;
  background-color: white;
  padding-left: 5px;
}

.select-bar {
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: left;
}

.field-title {
  font-size: 20px;
  font-weight: 500;
}

.fields {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 3px;
  row-gap: 5px;
}

.field-tag {
  border: none;
  padding: 0;
  border-radius: 15px;
  color: white;
  font-size: 14px;
  text-align: center;
}

.resume-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 30px;
}

.resume-card {
  margin: 0 auto;
  text-align: left;
}

.resume-card:hover {
  background-color: rgb(212, 212, 212);
  cursor: pointer;
}

.resume-title {
  color: black;
  text-decoration: none;
}

.resume-title:hover {
  color: black;
}
