.resume-post {
  margin: 0 auto;
  margin-top: 30px;
  text-align: left;
  width: 75%;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.post-body {
  margin-top: 10px;
}

.resume-link {
  color: white;
  text-decoration: none
}
